{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

    <title>Hello, Django!</title>
  </head>
  <body>
    <main>
      {% include "header.html"  %}  
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Upcomming Events</h1>
          <p class="col-md-8 fs-4">Get ready to experience something new! Check out our upcoming events!</p>
         
        </div>
      </div>
        
        {% block content %}{% endblock content %}
        {% include "footer.html"  %}
    </div>
   
</main>
     


    <script src="{% static 'js/bootstrap.min.js'%}"
  </body>
</html>